<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<!-- Create -->
	<insert id="write" parameterType="PostDTO">
		INSERT INTO post_orcl2 (post_id, post_writer, post_title, post_content, post_date)
		VALUES (auto_incr.nextval, #{post_writer}, #{post_title}, #{post_content}, SYSDATE)
	</insert>
	<!-- Read -->
	<select id="read" parameterType="long" resultType="PostDTO">
		SELECT * FROM post_orcl2 WHERE post_id = #{value}
	</select>
	<select id="readAll" resultType="PostDTO">
		SELECT * FROM post_orcl2
	</select>
	<!-- Update -->
	<update id="update" parameterType="PostDTO">
		UPDATE post_orcl2 SET post_title = #{post_title}, post_content = #{post_content}
		WHERE (post_id = #{post_id})
	</update>
	<!-- Delete -->
	<delete id="delete" parameterType="int">
		DELETE FROM post_orcl2
		WHERE post_id = #{value}
	</delete>
</mapper>