<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 한글 인코딩 설정 -->
	<!-- 필터 설정은 서블릿으로 요청이 들어가기 전, 그리고 최종 응답 전에 공통적으로 수행되어야 할 기능을 구현해주는 설정입니다.
	가장 필수적이면서 많이 쓰이는 용도가 인코딩입니다.
	필터 설정 덕분에 기존 서블릿에서 일일이 요청객체마다 처리해주던 인코딩을 별도로 안해줘도 됩니다.(url패턴 '/'으로 모든 url을 매핑했기 때문에)
	그 외에도 스프링 시큐리티 등 여러 공통 처리에 대한 필터를 설정할 수 있습니다. -->
	<filter> 
	   <filter-name>encodingFilter</filter-name> 
	   <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
	   <init-param> 
	      <param-name>encoding</param-name> 
	      <param-value>UTF-8</param-value> 
	   </init-param> 
	   <init-param> 
	      <param-name>forceEncoding</param-name> 
	      <param-value>true</param-value> 
	   </init-param> 
	</filter> 
	<filter-mapping> 
	   <filter-name>encodingFilter</filter-name> 
	   <url-pattern>/*</url-pattern> 
	</filter-mapping> 
</web-app>
